<footer id="footer-region" class="footer">
    <table class="full-width">
        <tbody>
        <tr class="footer-content">
            <td class="copyright-text">

                <div class="breadcrumb-text">
                    <p class="mb20 mt10">
                        友情提示：任何关于疾病的建议都不能替代执业医师的面对面诊断。各位用户言论仅代其个人观点，不代表本站同意其说法，请谨慎参阅，本站不承担由此引起的法律责任
                    </p>
                    <p>

                        <a href="/about" target="_blank">关于我们</a>
                        <!-- <a href="#">医院合作</a> -->
                        <a href="/about" target="_blank">免责条款</a>
                        <a href="/about" target="_blank">联系我们</a>
                        <!-- <a href="#">网站地图</a> -->
                        <span>
                         © 2014版权所有. 陕ICP备14005509号
                        </span>
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</footer>